/* *** Table of Contents ***
* 1.  Global Styles
* 2. Header
* 3. Navigation
* 4. Home Section
* *** *** *** *** *** *** */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400;1,500;1,600&display=swap');

:root {
	--bg-dark-900: #333;
	--bg-dark-100: #ddd;
	--bg-dark-50: #eff0f4;
	--bg-opacity: rgba(255, 255, 255, 0.5);
	--text-dark-900: #333;
	--text-dark-700: #555;
	--text-dark-600: #666;
	--text-dark-300: #bbb;
	--outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
	--outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
	--inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
	--inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 1. Global Styles *** *** *** */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*:not(i) {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: var(--bg-dark-50);
}
body.scroll-stop {
	overflow-y: hidden;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
.container {
	max-width: 1140px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.justify-content-between {
	justify-content: space-between;
}
.outer-shadow {
	box-shadow: var(--outer-shadow);
}
.inner-shadow {
	box-shadow: var(--inner-shadow);
}
.hover-in-shadow {
	position: relative;
	z-index: 1;
}
.hover-in-shadow:hover {
	box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	z-index: -1;
}
.hover-in-shadow:hover::after {
	box-shadow: var(--inner-shadow);
}
.align-items-center {
	align-items: center;
}
.btn-cta {
	display: inline-block;
	padding: 0.625rem 1.625rem;
	font-size: 1rem;
	font-weight: 500;
	color: var(--skin-color);
	line-height: 1.5;
	cursor: pointer;
	border: none;
	border-radius: 1.875rem;
	background-color: transparent;
	transition: all 0.3s ease;
}
.btn-cta::after {
	border-radius: 1.875rem;
}
.section-title {
	max-width: 100%;
	margin-bottom: 3.75rem;
	padding: 0 1rem;
	text-align: center;
	flex: 0 0 100%;
}
.section-title h2 {
	display: inline-block;
	font-size: 1.875rem;
	font-weight: 700;
	color: var(--text-dark-900);
	text-transform: uppercase;
	margin: 0;
}
.section-title h2::before {
	content: attr(data-heading);
	display: block;
	font-size: 1rem;
	font-weight: 600;
	color: var(--skin-color);
}
.section.hide {
	display: none;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 2. Header *** *** *** */
.header {
	padding: 1.25rem 1rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.header .logo a {
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	color: var(--skin-color);
	font-size: 1.25rem;
	font-weight: 600;
	border: 2px solid var(--skin-color);
	border-radius: 50%;
}
.header .hamburger-btn {
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.header .hamburger-btn::after {
	border-radius: 50%;
}
.header .hamburger-btn span {
	display: block;
	height: 0.125em;
	width: 1em;
	background-color: var(--bg-dark-900);
	position: relative;
}
.header .hamburger-btn span::before,
.header .hamburger-btn span::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-dark-900);
}
.header .hamburger-btn span::before {
	top: -0.375em;
}
.header .hamburger-btn span::after {
	top: 0.375em;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 3. Navigation *** *** *** */
.nav-menu {
	position: fixed;
	padding: 0 1rem;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: var(--bg-dark-50);
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
}
.fade-out-effect {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-dark-50);
	z-index: -1;
	visibility: hidden;
}
.fade-out-effect.active {
	visibility: visible;
	z-index: 1000;
	animation: fadeOut 0.3s ease-out;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.nav-menu.open {
	visibility: visible;
	opacity: 1;
	z-index: 999;
	transition: all 0.3s ease-in;
}
.nav-menu .close-nav-menu {
	display: block;
	position: absolute;
	right: 1rem;
	top: 1rem;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 2.1875rem;
	line-height: 2.1875rem;
	color: var(--text-dark-600);
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.nav-menu .close-nav-menu::after {
	border-radius: 50%;
}
.nav-menu-inner {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-menu ul {
	padding: 1rem;
}
.nav-menu ul li {
	display: block;
	text-align: center;
}
.nav-menu ul li:not(li:last-child) {
	margin-bottom: 1.25rem;
}
.nav-menu ul li a {
	display: inline-block;
	padding: 0.3125rem 1.875rem;
	font-size: 1.75rem;
	font-weight: 600;
	color: var(--text-dark-600);
	text-transform: capitalize;
	border-radius: 1.875rem;
	transition: all 0.3s ease;
}
.nav-menu ul li a::after {
	border-radius: 1.875rem;
}
.nav-menu ul li a.active {
	color: var(--skin-color);
}
.nav-menu .copyright-text {
	position: absolute;
	left: -2.45rem;
	top: 50%;
	font-size: 1rem;
	color: var(--text-dark-600);
	transform: translateY(50%) rotate(90deg);
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 5. Home Section *** *** *** */
.home-section {
	position: relative;
}

.home-section .full-screen {
	padding: 3.125rem 0;
	min-height: 100vh;
}
.home-section .home-text,
.home-section .home-img {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 1rem;
}
.home-section .home-text p {
	color: var(--text-dark-300);
	font-size: 1.125rem;
	text-transform: capitalize;
	margin: 0;
}
.home-section .home-text h2 {
	font-size: 3.4375rem;
	font-weight: 700;
	color: var(--text-dark-900);
	margin: 0;
}
.home-section .home-text h1 {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--text-dark-600);
	text-transform: capitalize;
}
.home-section .home-text .btn-cta {
	margin-top: 1.875rem;
}
.home-section .home-img .img-box {
	display: block;
	max-width: 28.125rem;
	margin: auto;
	padding: 1rem;
	border-radius: 50%;
}
.home-section .home-img .img-box img {
	width: 100%;
	border: 10px solid transparent;
	border-radius: 50%;
}
