/* *** Table of Contents ***
* 1.  Global Styles
* *** *** *** *** *** *** */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400;1,500;1,600&display=swap');

:root {
	--bg-dark-900: #333;
	--bg-dark-100: #ddd;
	--bg-dark-50: #eff0f4;
	--bg-opacity: rgba(255, 255, 255, 0.5);
	--text-dark-900: #333;
	--text-dark-700: #555;
	--text-dark-600: #666;
	--text-dark-300: #bbb;
	--outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
	--outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
	--inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
	--inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 1. Global Styles *** *** *** */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*:not(i) {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: var(--bg-dark-50);
}
body.scroll-stop {
	overflow-y: hidden;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
.container {
	max-width: 1140px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.justify-content-between {
	justify-content: space-between;
}
.align-items-center {
	align-items: center;
}
.btn-cta {
	display: inline-block;
	padding: 0.625rem 1.625rem;
	font-size: 1rem;
	font-weight: 500;
	color: var(--skin-color);
	line-height: 1.5;
	cursor: pointer;
	border: none;
	border-radius: 1.875rem;
	background-color: transparent;
	transition: all 0.3s ease;
}
.btn-cta::after {
	border-radius: 1.875rem;
}
