/* *** Table of Contents ***
* 1.  Global Styles
* 2.  Animations
* 3.  Header
* 4.  Navigation
* 5.  Home Section
* 6.  About Section
* 7.  Service Section
* 8.  Portfolio Section
* *** *** *** *** *** *** */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400;1,500;1,600&display=swap');

:root {
	--bg-dark-900: #333;
	--bg-dark-100: #ddd;
	--bg-dark-50: #eff0f4;
	--bg-opacity: rgba(255, 255, 255, 0.5);
	--text-dark-900: #333;
	--text-dark-700: #555;
	--text-dark-600: #666;
	--text-dark-300: #bbb;
	--outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
	--outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
	--inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
	--inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 1. Global Styles *** *** *** */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*:not(i) {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: var(--bg-dark-50);
}
body.scroll-stop {
	overflow-y: hidden;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
.container {
	max-width: 1140px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.justify-content-between {
	justify-content: space-between;
}
.outer-shadow {
	box-shadow: var(--outer-shadow);
}
.inner-shadow {
	box-shadow: var(--inner-shadow);
}
.hover-in-shadow {
	position: relative;
	z-index: 1;
}
.hover-in-shadow:hover {
	box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	z-index: -1;
}
.hover-in-shadow:hover::after {
	box-shadow: var(--inner-shadow);
}
.align-items-center {
	align-items: center;
}
.btn-cta {
	display: inline-block;
	padding: 0.625rem 1.625rem;
	font-size: 1rem;
	font-weight: 500;
	color: var(--skin-color);
	line-height: 1.5;
	cursor: pointer;
	border: none;
	border-radius: 1.875rem;
	background-color: transparent;
	transition: all 0.3s ease;
}
.btn-cta::after {
	border-radius: 1.875rem;
}
.section-title {
	max-width: 100%;
	margin-bottom: 3.75rem;
	padding: 0 1rem;
	text-align: center;
	flex: 0 0 100%;
}
.section-title h2 {
	display: inline-block;
	font-size: 1.875rem;
	font-weight: 700;
	color: var(--text-dark-900);
	text-transform: uppercase;
	margin: 0;
}
.section-title h2::before {
	content: attr(data-heading);
	display: block;
	font-size: 1rem;
	font-weight: 600;
	color: var(--skin-color);
}
.section.hide {
	display: none;
}
/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 2. Animations *** *** *** */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes topBounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(15px);
	}
}
@keyframes leftBounce {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(15px);
	}
}
@keyframes fadeInTop {
	0% {
		opacity: 0;
		transform: translateY(-25px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 3. Header *** *** *** */
.header {
	padding: 1.25rem 1rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.header .logo a {
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	color: var(--skin-color);
	font-size: 1.25rem;
	font-weight: 600;
	border: 2px solid var(--skin-color);
	border-radius: 50%;
}
.header .hamburger-btn {
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.header .hamburger-btn::after {
	border-radius: 50%;
}
.header .hamburger-btn span {
	display: block;
	height: 0.125em;
	width: 1em;
	background-color: var(--bg-dark-900);
	position: relative;
}
.header .hamburger-btn span::before,
.header .hamburger-btn span::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-dark-900);
}
.header .hamburger-btn span::before {
	top: -0.375em;
}
.header .hamburger-btn span::after {
	top: 0.375em;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 4. Navigation *** *** *** */
.nav-menu {
	position: fixed;
	padding: 0 1rem;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: var(--bg-dark-50);
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
}
.fade-out-effect {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-dark-50);
	z-index: -1;
	visibility: hidden;
}
.fade-out-effect.active {
	visibility: visible;
	z-index: 1000;
	animation: fadeOut 0.3s ease-out;
}
.nav-menu.open {
	visibility: visible;
	opacity: 1;
	z-index: 999;
	transition: all 0.3s ease-in;
}
.nav-menu .close-nav-menu {
	display: block;
	position: absolute;
	right: 1rem;
	top: 1rem;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 2.1875rem;
	line-height: 2.1875rem;
	color: var(--text-dark-600);
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.nav-menu .close-nav-menu::after {
	border-radius: 50%;
}
.nav-menu-inner {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-menu ul {
	padding: 1rem;
}
.nav-menu ul li {
	display: block;
	text-align: center;
}
.nav-menu ul li:not(li:last-child) {
	margin-bottom: 1.25rem;
}
.nav-menu ul li a {
	display: inline-block;
	padding: 0.3125rem 1.875rem;
	font-size: 1.75rem;
	font-weight: 600;
	color: var(--text-dark-600);
	text-transform: capitalize;
	border-radius: 1.875rem;
	transition: all 0.3s ease;
}
.nav-menu ul li a::after {
	border-radius: 1.875rem;
}
.nav-menu ul li a.active {
	color: var(--skin-color);
}
.nav-menu .copyright-text {
	position: absolute;
	left: -2.45rem;
	top: 50%;
	font-size: 1rem;
	color: var(--text-dark-600);
	transform: translateY(50%) rotate(90deg);
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 5. Home Section *** *** *** */
.home-section {
	position: relative;
}

.home-section .full-screen {
	padding: 3.125rem 0;
	min-height: 100vh;
}
.home-section .home-text,
.home-section .home-img {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 1rem;
}
.home-section .home-text p {
	color: var(--text-dark-300);
	font-size: 1.125rem;
	text-transform: capitalize;
	margin: 0;
}
.home-section .home-text h2 {
	font-size: 3.4375rem;
	font-weight: 700;
	color: var(--text-dark-900);
	margin: 0;
}
.home-section .home-text h1 {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--text-dark-600);
	text-transform: capitalize;
}
.home-section .home-text .btn-cta {
	margin-top: 1.875rem;
}
.home-section .home-img .img-box {
	display: block;
	max-width: 28.125rem;
	margin: auto;
	padding: 1rem;
	border-radius: 50%;
}
.home-section .home-img .img-box img {
	width: 100%;
	border: 10px solid transparent;
	border-radius: 50%;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 6. About Section *** *** *** */
.about-section {
	padding: 5rem 0 0;
	min-height: 100vh;
}
.about-section .about-img {
	flex: 0 0 40%;
	padding: 0 1rem;
}
.about-section .about-img .img-box {
	padding: 1rem;
}
.about-section .about-img .img-box img {
	width: 100%;
	border: 0.625rem solid transparent;
	border-radius: 0.3125rem;
}
.about-section .about-img .social-links {
	margin-top: 1.25rem;
	text-align: center;
}
.about-section .about-img .social-links a {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0 0.25rem;
	line-height: 2.5rem;
	font-size: 1rem;
	text-align: center;
	color: var(--text-dark-600);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.about-section .about-img .social-links a::after {
	border-radius: 50%;
}
.about-section .about-img .social-links a:hover {
	color: var(--skin-color);
}
.about-section .about-img .social-links a i {
	line-height: 2.5rem;
}
.about-section .about-info {
	flex: 0 0 60%;
	max-width: 60%;
	padding: 0 1rem;
}
.about-section .about-info p {
	margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.625rem;
	color: var(--text-dark-600);
}
.about-section .about-info span {
	color: var(--text-dark-900);
	font-weight: 600;
}
.about-section .about-info .btn-cta {
	margin: 1.875rem 1.25rem 0;
}
.about-section .about-tabs {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 3.75rem 1rem 3.125rem;
	text-align: center;
}
.about-section .about-tabs .tab-item {
	display: inline-block;
	margin: 0 0.3125rem 0.6325rem;
	padding: 0.3125rem 0.6325rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-dark-600);
	text-transform: capitalize;
	border-radius: 1.875rem;
	transition: all 0.3s ease;
}
.about-section .about-tabs .tab-item:hover:not(.active) {
	opacity: 0.6;
}
.about-section .about-tabs .tab-item.active {
	color: var(--skin-color);
}
.about-section .tab-content {
	flex: 0 0 100%;
	max-width: 100%;
	display: none;
}
.about-section .tab-content.active {
	display: block;
	animation: fadeInTop 0.5s ease;
}
.about-section .skills {
	padding: 0 0 2.5rem;
}
.about-section .skills .skill-item {
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 2.5rem;
	padding: 0 1rem;
}
.about-section .skills .skill-item p {
	font-size: 1rem;
	color: var(--text-dark-600);
	text-transform: capitalize;
	margin: 0 0 0.6325rem;
}
.about-section .skills .skill-item .progress {
	position: relative;
	height: 1.25rem;
	border-radius: 0.6325rem;
}
.about-section .skills .skill-item .progress-bar {
	background-color: var(--text-dark-600);
	position: absolute;
	height: 0.375rem;
	left: 0.4375rem;
	top: 0.4375rem;
	border-radius: 0.6325rem;
}
.about-section .skills .skill-item .progress-bar span {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -2.5rem;
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-dark-600);
}
.about-section .education,
.about-section .experience {
	padding-bottom: 5rem;
}
.about-section .timeline {
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
}
.about-section .timeline::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	left: 50%;
	top: 0;
	background-color: var(--bg-dark-100);
}
.about-section .timeline .timeline-item {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 1rem;
}
.about-section .timeline .timeline-item:nth-child(odd) {
	padding-right: calc(50% + 3.125rem);
	text-align: right;
}
.about-section .timeline .timeline-item:nth-child(even) {
	padding-left: calc(50% + 3.125rem);
}
.about-section .timeline .timeline-item-inner {
	padding: 1.875rem;
	border-radius: 0.3125rem;
	position: relative;
}
.about-section .timeline .timeline-item-inner::before {
	content: '';
	position: absolute;
	top: 2.3125rem;
	width: 1.875rem;
	height: 1px;
	background-color: var(--bg-dark-100);
	z-index: -1;
}
.about-section
	.timeline
	.timeline-item:nth-child(odd)
	.timeline-item-inner::before {
	right: -1.875rem;
}
.about-section
	.timeline
	.timeline-item:nth-child(even)
	.timeline-item-inner::before {
	left: -1.875rem;
}
.about-section .timeline .timeline-item-inner .icon {
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	top: 1.125rem;
	font-size: 1rem;
	line-height: 2.5rem;
	color: var(--skin-color);
	text-align: center;
	border: 1px solid var(--bg-dark-100);
	border-radius: 50%;
	background-color: var(--bg-dark-50);
}
.about-section .timeline .timeline-item:nth-child(odd) .icon {
	right: -4.375rem;
}
.about-section .timeline .timeline-item:nth-child(even) .icon {
	left: -4.375rem;
}
.about-section .timeline .timeline-item-inner span {
	display: block;
	margin: 0 0 0.6325rem;
	font-weight: 500;
	color: var(--skin-color);
	text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h3 {
	margin: 0 0 0.3125rem;
	font-size: 1.25rem;
	color: var(--text-dark-700);
	font-weight: 600;
	text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h4 {
	margin: 0;
	font-size: 1rem;
	font-style: italic;
	color: var(--text-dark-600);
}
.about-section .timeline .timeline-item-inner p {
	margin: 1rem 0 0;
	font-size: 1rem;
	color: var(--text-dark-600);
	line-height: 1.625rem;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 7. Service Section *** *** *** */
.service-section {
	min-height: 100vh;
	padding: 5rem 0 5rem;
}
.service-section .service-item {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
}
.service-section .service-item-inner {
	width: 100%;
	padding: 3.125rem 1rem;
	border-radius: 0.3125rem;
	text-align: center;
}
.service-section .service-item-inner .icon {
	display: block;
	height: 3.75rem;
	width: 3.75rem;
	margin: 0 auto 1.875rem;
	text-align: center;
	color: var(--text-dark-600);
	border-radius: 50%;
	transition: all 0.3s ease;
	position: relative;
}
.service-section .service-item-inner .icon::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.service-section .service-item-inner:hover .icon {
	box-shadow: var(--inner-shadow-0);
}
.service-section .service-item-inner:hover .icon::after {
	box-shadow: var(--outer-shadow);
}
.service-section .service-item-inner .icon i {
	font-size: 1.5625rem;
	line-height: 3.75rem;
	transition: all 0.3s ease;
}
.service-section .service-item-inner:hover .icon i {
	color: var(--skin-color);
}
.service-section .service-item-inner h3 {
	margin: 0 0 0.625rem;
	font-size: 1.25rem;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--text-dark-700);
}
.service-section .service-item-inner p {
	margin: 0;
	font-size: 1rem;
	color: var(--text-dark-600);
	line-height: 1.625rem;
}
/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 8. Portfolio Section *** *** *** */
.portfolio-section {
	min-height: 100vh;
	padding: 5rem 0 5rem;
}
.portfolio-section .section-title {
	margin-bottom: 2.5rem;
}
.portfolio-section .portfolio-filter {
	max-width: 100%;
	margin-bottom: 1.25rem;
	padding: 0 1rem;
	flex: 0 0 100%;
	text-align: center;
}
.portfolio-section .filter-item {
	display: inline-block;
	margin: 0 0.3125rem 0.625rem;
	padding: 0.3125rem 0.625rem;
	cursor: pointer;
	font-weight: 500;
	color: var(--text-dark-600);
	text-transform: capitalize;
	border-radius: 1.875rem;
}
.portfolio-section .filter-item:hover:not(.active) {
	opacity: 0.6;
}
.portfolio-section .filter-item.active {
	color: var(--skin-color);
}
.portfolio-section .portfolio-item {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
}
.portfolio-section .portfolio-item.hide {
	display: none;
}
.portfolio-section .portfolio-item.show {
	display: block;
	animation: fadeInTop 0.5s ease;
}
.portfolio-section .portfolio-item-inner {
	padding: 1rem;
	cursor: pointer;
	border-radius: 0.3125rem;
}
.portfolio-section .portfolio-item-img img {
	width: 100%;
	border-radius: 0.3125rem 0.3125rem 0 0;
	transition: all 0.3s ease;
}
.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img {
	transform: translateY(-25px);
}
.portfolio-section .portfolio-item-img {
	position: relative;
}
.portfolio-section .portfolio-item-img .view-project {
	position: absolute;
	left: 0;
	bottom: -4px;
	text-transform: capitalize;
	font-size: 1rem;
	font-weight: 500;
	color: var(--skin-color);
	opacity: 0;
	transform: translateY(-5px);
	transition: all 0.3s ease;
	z-index: -1;
}
.portfolio-section .portfolio-item-inner:hover .view-project {
	opacity: 1;
	transform: translateY(0);
}
.portfolio-section .portfolio-item-details {
	display: none;
}
.portfolio-section .portfolio-item-inner p {
	margin: 0.625rem;
	font-size: 1rem;
	color: var(--text-dark-600);
	text-transform: capitalize;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 9. Portfolio Popup *** *** *** */
.portfolio-popup {
	background-color: var(--bg-dark-50);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}
.portfolio-popup.open {
	visibility: visible;
	opacity: 1;
}
.portfolio-popup .pp-loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1005;
	background-color: var(--bg-opacity);
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
}
.portfolio-popup .pp-loader.active {
	visibility: visible;
	opacity: 1;
}
.portfolio-popup .pp-loader div {
	width: 2.5rem;
	height: 2.5rem;
	border: 3px solid var(--skin-color);
	border-radius: 50%;
	border-right: 3px solid transparent;
	animation: spin 2s linear infinite;
}
.portfolio-popup .pp-details {
	max-width: 1350px;
	width: calc(85% + 1.875rem);
	margin: auto;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.5s ease;
}
.portfolio-popup .pp-details.active {
	opacity: 1;
}
.portfolio-popup .pp-details-inner {
	padding: 1.875rem 0;
}
.portfolio-popup .pp-title {
	padding: 0 1rem;
}
.portfolio-popup .pp-title h2 {
	margin: 0 0 0.3125rem;
	font-size: 1.75rem;
	font-weight: 600;
	color: var(--text-dark-900);
	text-transform: capitalize;
}
.portfolio-popup .pp-title p {
	margin: 0 0 1rem;
	padding-bottom: 0.6125rem;
	font-size: 0.875rem;
	font-weight: 600;
	color: var(--text-dark-600);
	border-bottom: 1px solid var(--bg-dark-100);
}
.portfolio-popup .pp-title p span {
	font-weight: 400;
	font-style: italic;
}
.portfolio-popup .pp-project-details h3 {
	margin: 0 0 1rem;
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--text-dark-700);
	text-transform: capitalize;
}
.portfolio-popup .description {
	flex: 0 0 65%;
	max-width: 65%;
	padding: 0 1rem;
}
.portfolio-popup .description p {
	font-size: 1rem;
	color: var(--text-dark-600);
	line-height: 1.6125rem;
}
.portfolio-popup .info {
	flex: 0 0 35%;
	max-width: 35%;
	padding: 0 1rem;
}
.portfolio-popup .info ul li {
	display: block;
	margin-bottom: 0.6125rem;
	font-weight: 600;
	color: var(--text-dark-600);
	font-size: 1rem;
}
.portfolio-popup .info ul li span {
	font-weight: 400;
}
.portfolio-popup .info ul li a {
	color: var(--skin-color);
}
.portfolio-popup .info ul li:last-child {
	margin-bottom: 0;
}
.portfolio-popup .separator {
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--bg-dark-100);
}
.portfolio-popup .pp-img {
	max-width: 100%;
	width: auto;
	height: auto;
	padding: 0.625rem;
	border-radius: 0.3125rem;
}
.portfolio-popup .pp-main {
	max-width: 1350px;
	min-height: 100vh;
	width: 85%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.portfolio-popup .pp-main-inner {
	position: relative;
	padding: 4.375rem 0 3.125rem;
}
.portfolio-popup .pp-project-details-btn {
	position: absolute;
	top: 1rem;
	left: 0;
	height: 2.5rem;
	padding: 0 1rem;
	font-size: 1rem;
	font-weight: 500;
	color: var(--skin-color);
	cursor: pointer;
	line-height: 2.5rem;
	border-radius: 1.875rem;
	transition: all 0.3s ease;
}
.portfolio-popup .pp-project-details-btn::after {
	border-radius: 1rem;
}
.portfolio-popup .pp-project-details-btn i {
	margin-left: 0.25rem;
}
.portfolio-popup .pp-close {
	position: absolute;
	top: 1rem;
	right: 0;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2.1875rem;
	line-height: 2.1875rem;
	color: var(--text-dark-600);
	text-align: center;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.portfolio-popup .pp-close::after {
	border-radius: 50%;
}
.portfolio-popup .pp-counter {
	position: absolute;
	right: 0;
	bottom: 0.3125rem;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1rem;
	color: var(--text-dark-600);
}
.portfolio-popup .pp-prev,
.portfolio-popup .pp-next {
	position: fixed;
	top: 50%;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	font-size: 1.25rem;
	color: var(--text-dark-900);
	cursor: pointer;
	opacity: 0.5;
	z-index: 1010;
	transition: all 0.3s ease;
}
.portfolio-popup .pp-prev:hover,
.portfolio-popup .pp-next:hover {
	opacity: 1;
}
.portfolio-popup .pp-prev i,
.portfolio-popup .pp-next i {
	line-height: 2.5rem;
}
.portfolio-popup .pp-prev i {
	transform: rotate(180deg);
}
.portfolio-popup .pp-prev {
	left: 1rem;
}
.portfolio-popup .pp-next {
	right: 1rem;
}

/* *** *** *** *** = = = = = = *** *** *** *** */
/* *** *** *** 10. Testimonial Section *** *** *** */
.testimonial-section {
	padding: 5rem 0 5rem;
	min-height: 100vh;
}
.testimonial-section .testim-box {
	width: 100%;
	max-width: 600px;
	margin: auto;
	padding: 0 1rem;
}
.testimonial-section .testim-slider {
	border-radius: 0.3125rem;
	text-align: center;
	overflow: hidden;
}
.testimonial-section .testim-slider-container {
	display: flex;
	align-items: center;
	transition: margin 1s ease;
}
.testimonial-section .testim-item {
	padding: 1.875rem;
	text-align: center;
	position: relative;
}
.testimonial-section .testim-item i {
	position: absolute;
	font-size: 1.875rem;
	color: var(--text-dark-600);
	opacity: 0.1;
}
.testimonial-section .testim-item i.left {
	top: 0.3125rem;
	left: 0.3125rem;
}
.testimonial-section .testim-item i.right {
	bottom: 0.3125rem;
	right: 0.3125rem;
}
.testimonial-section .testim-item p {
	font-size: 1rem;
	line-height: 1.6125rem;
	color: var(--text-dark-600);
	margin: 0 0 1.875rem;
}
.testimonial-section .testim-item .img-box {
	position: relative;
	display: inline-block;
}
.testimonial-section .testim-item .img-box img {
	max-width: 5rem;
	width: 100%;
}
.testimonial-section .testim-item .img-box span {
	display: block;
	font-weight: 600;
	font-size: 1rem;
	color: var(--text-dark-700);
}
.testimonial-section .testim-item .img-box .img-bg {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 70%;
	border-radius: 50%;
	background-color: var(--skin-color);
	z-index: -1;
}
.testimonial-section .testim-slider-nav {
	margin-top: 1.875rem;
	text-align: center;
}
.testimonial-section .testim-slider-nav span {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0 0.25rem;
	color: var(--skin-color);
	text-transform: capitalize;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.testimonial-section .testim-slider-nav span::after {
	border-radius: 50%;
}
.testimonial-section .testim-slider-nav span i {
	line-height: 2.5rem;
	font-size: 1.25rem;
}
